{% extends 'base.html' %}
{% load static %}

{% block title %}
Project Page
{% endblock %}

{% block main %}


<div class="row bgi">
    <div class="col-sm-7 mx-auto  content">
        <div class="text-center mt-5" data-aos="fade-up" data-aos-duration="1500">
            <p class="text-warning">--EXCELLENCE IN CONSTRUCTION--</p>
            <h1>&#9830; Our Featured Projects &#9830;</h1>
            <p class="text-light">Browse our portfolio of exceptional construction projects spanning commercial,
                residential,
                and public sectors. Each project reflects our commitment to quality and innovation.</p>
        </div>
    </div>
    <div class="">
        <div class="row text-center mt-5  mb-5">
            <div class="col-sm-10 mx-auto p-4 ">
                <div class="row g-4">


                    <div class="col-sm mx-auto      px-2">
                        <div class="py-4 rounded-3  ax " data-aos="fade-down" data-aos-duration="1500"
                            style="background-color: rgba(0, 0, 0,0.9);">
                            <h1>30+</h1>
                            <p class="text-light">Years of Experience</p>
                        </div>
                    </div>

                    <div class="col-sm mx-auto  px-2">
                        <div class="py-4 rounded-3  ax " data-aos="fade-down" data-aos-duration="1500"
                            style="background-color: rgba(0, 0, 0,0.9);">
                            <h1>250+</h1>
                            <p class="text-light">Projects Completd</p>
                        </div>
                    </div>
                    <div class="col-sm mx-auto  px-2">
                        <div class="py-4 rounded-3  ax " data-aos="fade-down" data-aos-duration="1500"
                            style="background-color: rgba(0, 0, 0,0.9);">
                            <h1>98%</h1>
                            <p class="text-light">Customer Satisfaction</p>
                        </div>
                    </div>
                    <div class="col-sm mx-auto px-2">
                        <div class="py-4 rounded-3  ax " data-aos="fade-down" data-aos-duration="1500"
                            style="background-color: rgba(0, 0, 0,0.9);">
                            <h1>120+</h1>
                            <p class="text-light">Expert Team Members</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>





<div class="row  py-5 bgc">
    <div class="col-sm-11 mx-auto">
        <div class="row">
            <div class="col-sm-4  position-relative mt-3 text-light" data-aos="flip-left" data-aos-duration="1500"
                data-aos-easing="ease-out-cubic">
                <img src="{% static 'img/Modern-Office-Complex.jpg' %}" alt="" class="w-100 rounded-3  ax"
                    height="270px">
                <div class="position-absolute" style="bottom: 30px; left: 30px; line-height: 15px;">
                    <p>Commercial</p>
                    <h5>Modern Office Complex</h5>
                    <p>A contemporary office space designed for maximum productivity and employee wellbeing</p>
                    <a href="#" class="text-decoration-none text-light fw-semibold">View Project &rarr;</a>
                </div>
            </div>
            <div class="col-sm-4  position-relative mt-3 text-light" data-aos="flip-left" data-aos-duration="1500"
                data-aos-easing="ease-out-cubic">
                <img src="{% static 'img/Luxury-Residential-Tower.jpg' %}" alt="" class="w-100 rounded-3  ax"
                    height="270px">
                <div class="position-absolute" style="bottom: 30px; left: 30px; line-height: 15px;">
                    <p>Residential</p>
                    <h5>Luxury Residential Tower</h5>
                    <p>Premium living spaces with state-of-the-art amenities and stunning city views.</p>
                    <a href="#" class="text-decoration-none text-light fw-semibold">View Project &rarr;</a>
                </div>
            </div>
            <div class="col-sm-4  position-relative mt-3 text-light" data-aos="flip-left" data-aos-duration="1500"
                data-aos-easing="ease-out-cubic">
                <img src="{% static 'img/sus.jpg' %}" alt="" class="w-100 rounded-3  ax" height="270px">
                <div class="position-absolute" style="bottom: 30px; left: 30px; line-height: 15px;">
                    <p>Public</p>
                    <h5>Sustainable Community Center</h5>
                    <p>Eco-friendly architecture designed to bring communities together.</p>
                    <a href="#" class="text-decoration-none text-light fw-semibold">View Project &rarr;</a>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-sm-4 mt-3 position-relative text-light" data-aos="flip-right" data-aos-duration="1500"
                data-aos-easing="ease-out-cubic">
                <img src="{% static 'img/Industrial-Manufacturing-Hub.jpg' %}" alt="" class="w-100 rounded-3  ax"
                    height="270px">
                <div class="position-absolute" style="bottom: 30px; left: 30px; line-height: 15px;">
                    <p>Industrial</p>
                    <h5>Industrial Manufacturing Hub</h5>
                    <p>Cutting-edge industrial facilities designed for optimal workflow and efficiency.</p>
                    <a href="#" class="text-decoration-none text-light fw-semibold">View Project &rarr;</a>
                </div>
            </div>
            <div class="col-sm-4 mt-3 position-relative text-light" data-aos="flip-right" data-aos-duration="1500"
                data-aos-easing="ease-out-cubic">
                <img src="{% static 'img/Waterfront-Hotel-Spa.jpg' %}" alt="" class="w-100 rounded-3  ax"
                    height="270px">
                <div class="position-absolute" style="bottom: 30px; left: 30px; line-height: 15px;">
                    <p>Hospitality</p>
                    <h5>Waterfront Hotel & Spa</h5>
                    <p>Luxury hospitality project featuring elegant <br> design and premium guest experiences.</p>
                    <a href="#" class="text-decoration-none text-light fw-semibold">View Project &rarr;</a>
                </div>
            </div>
            <div class="col-sm-4 mt-3 position-relative text-light" data-aos="flip-right" data-aos-duration="1500"
                data-aos-easing="ease-out-cubic">
                <img src="{% static 'img/Urban-Mixed-Use-Development.jpg' %}" alt="" class="w-100 rounded-3  ax"
                    height="270px">
                <div class="position-absolute" style="bottom: 30px; left: 30px; line-height: 15px;">
                    <p>Mixed Use</p>
                    <h5>Urban Mixed-Use Development</h5>
                    <p>Integrated commercial and residential spaces designed for modern urban living.</p>
                    <a href="#" class="text-decoration-none text-light fw-semibold">View Project &rarr;</a>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center mt-5"><button class="ar" data-aos="zoom-in" data-aos-duration="1600">&#9830;View All
            Projects&#9830;</button></div>
</div>








<div class="row bgc py-5">
    <div class="col-sm-12 ">

        <div class=" text-center co" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="1900">
            <h2 id="h1"> &#9830; Ready to Build Your Dream Project? &#9830;</h1>
                <p class="text-light">Let's discuss how our expertise can bring your vision to life. Contact our team
                    today.</p>
                <button class="ar" data-aos="zoom-in" data-aos-duration="1600">&#9830; Get In Touch &#9830;</button>

        </div>

    </div>
</div>
{% endblock %}